<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>{{ cadastro }}</h1>
    <form action="/" method="POST">
        <p>Valor da CASA: <input type = "text" name = "valorcasa" placeholder="digite um valor"/></p>
        <p>Salário: <input type = "integer" name = "salario" placeholder="digite um valor"/></p>
        <p>Com quantos anos irá PAGAR: <input type = "integer" name = "anospagar" placeholder="digite um valor"/></p>
        <button>Enviar</button>
     </form>
     
</body>
</html>